h4 {
    color: #0949c3;
}

#botonRegistro {
    color: white;
    background: -webkit-linear-gradient(#71b5f8, #04409f);
    background: -moz-linear-gradient(#71b5f8, #04409f);
    background: -o-linear-gradient(#71b5f8, #04409f);
}

#botonRegistro:hover {
    color: white;
    background: -webkit-linear-gradient(#04409f, #71b5f8);
    background: -moz-linear-gradient(#04409f, #71b5f8);
    background: -o-linear-gradient(#04409f, #71b5f8);
}


