body{
    
    
}
/* ---------  Banner ------------ */
.cabecera{
}
.Cuerpo{
    background-color: transparent;
    box-shadow: 0px 20px 40px #eee;
    }

.menus-bucador-loggin{
    margin: auto;
}


.row.imagenes-cabecera{
    margin-top: -10px;
}
.jumbotron{
    background-color: black; 
    margin-bottom: 0px;
    
}
.cabecera .navbar{
    
   background-color:darkgrey;
    border-width: inherit;
    
    
    border-radius: 0;
    
    
}
.vdivide [class*='separ']:not(:last-child):after{
    background: #eee;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    height: 34px;
    bottom: 8px;
    right: 0;
}
.cabecera .search{
    width: 150px;
}

.cabecera form{
    margin-left: auto;
    border-width: 0px;
    
}
.cabecera .jumbotron{
    box-shadow:  5px 7px 50px black;
    padding-bottom: 0px;
}
/* carousel Cuerpo */
.carousel img{
    margin: auto;
}

@media (min-width: 100px) and (max-width: 986px) { 
    .cabecera .logotipo {
        display: none;
}
    .jumbotron{
        padding-bottom: 20px;
    }
    
    .logotipo-texto{
        
        margin-left: 25%;
    }

    
    .login-buscador form,li{
        display: inline-flex;
    }
    .login-buscador form input{
        margin-right: 10px;
    }
    
    .login-buscador form button{
        height: 35px;
    }
    
}

#barra-ofertas,#articulos-titulo{
    background-image: url(Imagenes/linea.png);
    background-repeat: repeat-y;
    height: 15px;
    margin-top: 28px;
    margin-left:  -40px;
    
}