body {
    padding-left: 5px;
    background-color: azure;
}

nav {
    width: 90%
}

#head-body {
    margin-bottom: 10px;
}

#Articulos article {
    border-width: 2px;
    border-style: inset;
    margin: 2px;
    background-color: white;
}

#Articulos h5 {
    margin: auto
}

footer ul li a {
    color: black;
}

.jumbotron p {
    border-width: 0.3px;
    border-top-style: groove;
    margin-right: 2%;
    margin-left: 2%;
    font-style: italic;
    font-size: 1em;
}

@media (max-width: 765px) {
    #img_Logo {
        width: 40%;
    }
    #img_Cabecera {
        display: none;
    }
}

@media (max-width: 700px) {
    #img_Logo {
        width: 50%;
    }
}

@media (max-width: 300px) {
    #img_Logo {
        width: 80%;
    }
}

@media (min-width: 1500px) {
    #Destacados {
        width: 40%;
        margin: auto;
        margin-right: 40%;
    }
    .jumbotron {
        margin-top: 10px;
        margin-left: 15%;
        margin-right: 30%;
        padding: inherit;
        padding-top: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    #Destacados {
        width: 50%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .jumbotron {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 30%;
        padding: inherit;
        padding-top: 10px;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    #Destacados {
        width: 60%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .jumbotron {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 30%;
        padding: inherit;
        padding-top: 10px;
    }
}

@media (min-width: 400px) and (max-width: 700px) {
    #Destacados {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
    footer .container {
        display: none;
    }
    .jumbotron p {
        border-top-style: none;
    }
}

@media (max-width: 400px) {
    #Destacados {
        width: 100%;
        margin: inherit;
        margin-right: 10%;
    }
    footer .container {
        display: none;
    }
    .jumbotron p {
        border-style: none;
    }
}