<div class="Cuerpo ">
    <!-----------------------------------    ADMINISTRACION    ------------------------------------------->
    <div class="container">
        <div class="col-md-3 col-sm-3 col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active" id="menu"><a>Menu</a></li>
                <li role="presentation"><a href="#users" id="aUsers">Usuarios</a></li>
                <li role="presentation"><a href="#products" id="aProducts">Productos</a></li>
                <li role="presentation"><a href="#orders" id="aOrders">Pedidos</a></li>
                <li role="presentation"><a href="/">Volver a la pagina principal</a></li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-9 col-lg-9" id="inicio">
            <div id="head">
                <h2>Administración</h2>
            </div>
            <div id="users">
                <h3>Usuarios</h3>

                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Correo electrónico</p>
                            <p>Nombre</p>
                            <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-trash fa-fw"></i> Eliminar Usuario</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Correo electrónico</p>
                            <p>Nombre</p>
                            <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-trash fa-fw"></i> Eliminar Usuario</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="products">
                <h3>Productos</h3>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#existingProducts">Productos existentes</a></li>
                    <li><a data-toggle="tab" href="#addproduct">Añadir producto</a></li>
                </ul>

                <div class="tab-content">
                    <div id="existingProducts" class="tab-pane fade">
                        <br>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Nombre</p>
                                    <p>Precio</p>
                                    <p>Cantidad</p>
                                    <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-pencil fa-fw"></i> Modificar articulo</button>
                                    <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-trash fa-fw"></i> Eliminar articulo</button>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Nombre</p>
                                    <p>Precio</p>
                                    <p>Cantidad</p>
                                    <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-pencil fa-fw"></i> Modificar articulo</button>
                                    <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-trash fa-fw"></i> Eliminar articulo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="addproduct" class="tab-pane fade">
                        <h3>Nuevo producto</h3>
                        <br>
                        <div id="formAddProducto">
                            <form action="">
                                <p>
                                    <label>Nombre del producto:</label>
                                    <input type="text" name="name" required="required">
                                </p>
                                <label>Descripción:</label>
                                <p>
                                    <textarea rows="5" cols="100" required="required"></textarea>
                                </p>
                                <p>
                                    <label>Precio:</label>
                                    <input type="number" name="price" required="required">
                                </p>
                                <p>
                                    <label>Cantidad:</label>
                                    <input type="number" name="quantity" required="required">
                                </p>
                                <p>
                                    <label>Categoria:</label>
                                    <select>
                                        <option value="componentes">Componentes</option>
                                        <option value="perifericos">Perifericos</option>
                                        <option value="smartphone">Smartphone</option>
                                        <option value="portatiles">Portatiles</option>
                                    </select>
                                </p>
                                <button class="btn btn-default" type="submit" name="enviar" value="Enviar" id="botonAdmin">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="orders">
                <h3>Pedidos</h3>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#pendingsOrders">Pedidos pendientes</a></li>
                    <li><a data-toggle="tab" href="#preparedOrders">Pedidos preparados</a></li>
                </ul>

                <div class="tab-content">
                    <div id="pendingsOrders" class="tab-pane fade">
                        <br>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Producto 1</p>
                                    <p>Producto 2</p>
                                    <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-shopping-bag fa-fw"></i> Marcar como preparado</button>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Producto 1</p>
                                    <p>Producto 2</p>
                                    <button class="btn btn-default" type="button" id="botonAdmin"><i class="fa fa-shopping-bag fa-fw"></i> Marcar como preparado</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="preparedOrders" class="tab-pane fade">
                        <h2></h2>
                        <br>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--------------------------------  FIN  ADMINISTRACION    ------------------------------------------->
</div>