<div class="Cuerpo row">

    <!-----------------------------------    ARTICULOS    ------------------------------------------->
    <div class="container col-md-10 col-md-offset-1 col-xs-12">

        <section class="Categorias col-md-2">
            <div class="container col-md-12">
                <div class="nav navbar-default">

                    <ul class="nav nav-list">
                        <li>
                            <label class="tree-toggler nav-header"><span>Portatiles</span></label>
                            <ul class="nav  tree">
                                <li><a href="">Portatiles</a></li>
                                <li><a href="">Ultrabook</a></li>
                                <li><a href="">Otros</a></li>
                                <li><a href="">Portatiles</a></li>
                                <li><a href="">Portatiles</a></li>
                                <li><a href="">Portatiles</a></li>
                                <li><a href="">Portatiles</a></li>
                            </ul>
                        </li>
                        <li>
                            <label class="tree-toggler nav-header"><span>Portatiles</span></label>
                            <ul class="nav  tree">
                                <li><a href="">Portatiles</a></li>
                                <li><a href="">Ultrabook</a></li>
                                <li><a href="">Otros</a></li>
                            </ul>
                        </li>
                        <li>
                            <label class="tree-toggler nav-header"><span>Portatiles</span></label>
                            <ul class="nav  tree">
                                <li><a href="">Portatiles</a></li>
                                <li><a href="">Ultrabook</a></li>
                                <li><a href="">Otros</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="Cuerpo-central col-md-10 col-xs-12">
            <section class="ruta-navegacion col-md-12">
                <div class="col-md-8 col-md-offset-2">
                    <ol class="breadcrumb">
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="#">Pc / Portatiles</a></li>
                    </ol>
                </div>
            </section>
            <section class="Productos-Categoria col-md-12">
                <div class="container ">
                    <div class="">
                        <h3 class="panel-heading"><span class="label label-info">Productos destacados en stock</span></h3>
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <article class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="thumbnail">
                                        <img class="img-responsive" src="Imagenes/item-1.jpg">
                                        <div class="btn-group  pop-imagenes" role="group">
                                            <a href="Producto.html" class="btn btn-secondary" role="button">Ver</a>
                                            <a href="Carrito.html" class="btn btn-primary" role="button">Añadir al Carrito</a>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="Imagenes/item-2.jpg" class="img-responsive">
                                        <div class="btn-group pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="Imagenes/item-3.jpg" class="img-responsive">
                                        <div class="btn-group pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- Fin Primera columna-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <article class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="thumbnail">
                                        <img class="img-responsive" src="Imagenes/item-1.jpg">
                                        <div class="btn-group  pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="thumbnail">
                                        <img src="Imagenes/item-2.jpg" class="img-responsive">
                                        <div class="btn-group pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="Imagenes/item-3.jpg" class="img-responsive">
                                        <div class="btn-group pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- Fin segunda columna-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <article class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="thumbnail">
                                        <img class="img-responsive" src="Imagenes/item-1.jpg">
                                        <div class="btn-group  pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:30%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="col-md-4 col-sm-4 col-xs-6">
                                    <div class="thumbnail">
                                        <img src="Imagenes/item-2.jpg" class="img-responsive">
                                        <div class="btn-group pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:10%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="Imagenes/item-3.jpg" class="img-responsive">
                                        <div class="btn-group pop-imagenes" role="group">
                                            <button type="button" class="btn btn-secondary">Ver</button>
                                            <button type="button" class="btn btn-primary disabled">Añadir al Carrito</button>
                                        </div>
                                        <div class="caption">
                                            <h3 class="desc-articulo">Thumbnail label</h3>
                                            <p class="cortar">saddasdasdasdasd sadsadsdsadddddd ddddddddsadasdasd</p>
                                            <span class="precio">24 €</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" data-toggle="tooltip" data-placement="bottom" title="Disponibilidad">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- Fin tercera columna-->
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <!--------------------------------  FIN  ARTICULOS    ------------------------------------------->
</div>