<footer>
       <div class=jumbotron>
           <div class="container">
               <div class="row encabezado">
                   <div class="col-md-4">
                       <h3 class="panel-heading"><span class="label">Contactos de GITHUB</span></h3>
                       <ul div="panel-body list-group">
                           <li class="list-group-item"><span class="fa fa-github fa-2x"></span><a href="https://github.com/Igna91" target="_blank">Ignacio De Lucas Noguero</a></li>
                           <li class="list-group-item"><span class="fa fa-github fa-2x"></span><a href="https://github.com/AlejandroPinto" target="_blank">Alejandro Pinto Fernandez</a></li>
                           <li class="list-group-item "><span class="fa fa-github fa-2x"></span><a href="https://github.com/danijimeno " target="_blank">Daniel Jimeno Saez</a></li>
                           <li class="list-group-item"><span class="fa fa-github fa-2x"></span><a href="https://github.com/vazquezf" target="_blank">Javier Vazquez Fernandez</a></li>
                       </ul>
                   </div>
                   <div class="col-md-4">dsd</div>
                   <div class="col-md-4">sdsd</div>
               </div>
               <div class="row informacion">
                   <div class="col-md-3">
                       <h3 class="panel-heading"><span class="label">Información de Compra</span></h3>
                       <ul div="panel-body list-group">
                           <li class="list-group-item"><a href="">¿Como comprar?</a></li>
                           <li class="list-group-item"><a href="">Formas de pago</a></li>
                           <li class="list-group-item"><a href="">Gastos de envio</a></li>
                           <li class="list-group-item"><a href="">Preguntas frecuentes</a></li>
                       </ul>
                   </div>
                   <div class="col-md-3">
                       <h3 class="panel-heading"><span class="label">Información</span></h3>
                       <ul div="panel-body">
                           <li class="list-group-item"><a href="">Condiciones de Compra</a></li>
                           <li class="list-group-item"><a href="">Garantias</a></li>
                       </ul>
                   </div>
                   <div class="col-md-3">
                       <h3 class="panel-heading"><span class="label">Contactenos</span></h3>
                       <ul div="panel-body">
                           <li class="list-group-item"><a href="">Centro de Soporte</a></li>
                           <li class="list-group-item"><a href="">Aviso Legal</a></li>
                           <li class="list-group-item"><a href="">Privacidad</a></li>
                       </ul>
                   </div>
                   <div class="col-md-3">
                       <h3 class="panel-heading"><span class="label">Otros</span></h3>
                       <ul div=" panel-body list-group">
                           <li class="list-group-item"><a href="">Fabricantes</a></li>
                           <li class="list-group-item"><a href="">Opiniones de clientes</a></li>
                           <li class="list-group-item"><a href="">Últimos Comentarios</a></li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
   </footer>
