
    <nav-sup></nav-sup>
    <div>
    <section class="container">
        <h3 class="panel-heading"><span class="label label-info">Carrito</span></h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>
                            <p>cod.</p>
                        </th>
                        <th>
                            <p>Concepto</p>
                        </th>
                        <th>
                            <p>Precio</p>
                        </th>
                        <th>
                            <p>Unds</p>
                        </th>
                        <th>
                            <p>Total</p>
                        </th>
                        <th>
                            <p>Opciones</p>
                        </th>

                    </tr>
                </thead>
                <tr *ngFor="#producto of pedido">
                    <td>
                        <p>{{producto.id}}</p>
                    </td>
                    <td>
                      <a [routerLink]="['ProductoDetail',{id: producto.id}]" role="button">{{producto.nombre}}</a>
                    </td>
                    <td>
                        <p>{{producto.precio}}</p>
                    </td>
                    <td>
                        <input  class="form-control" [(ngModel)]="producto.cantidad" type="number" min="1" max="{{producto.stock}}" maxlength="2">
                    </td>
                    <td>
                        <p>{{producto.precio*producto.cantidad}} €</p>
                    </td>
                    <td>
                        <a (click)="eliminar(producto)" role="button"><p>Eliminar</p></a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="CarritoBtts">
            <p class="col-md-8 col-sm-7"></p>
            <div *ngIf="isLogged">
            <a (click)="BorrarPedidos()"  class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Vaciar carrito</a>
            <a (click)="guardarPedido()" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Realizar pedido</a>
            </div>
        </div>

    </section>
</div>
