body {}


/* ---------  Banner ------------ */

.cabecera {}

.banner-fijo {
    font-size: 1em;
    position: fixed;
    top:0px;
    z-index: 99;
    left:0px;
}

.banner-fijo {
    text-align: right;
}

.Cuerpo {
    background-color: transparent;
}

.iconos-navegacion-banner span {
    font-size: 2em;
    color: #5473a6;
}

.iconos-navegacion-banner li:hover {
    text-shadow: 1px 2px 3px;
}

.menus-bucador-loggin {
    margin-bottom: 0px;
    padding-right: 0px;
}

.menus-bucador-loggin .vdivide > li > a,
.menus-bucador-loggin a span {
    color: aliceblue;
}

.menus-bucador-loggin .vdivide > li:hover > a {
    text-shadow: 1px 2px 3px black;
    color: aliceblue;
}

.menus-bucador-loggin > .navbar {
    margin-bottom: 0px;
}


/*---------------*/

.row {
    margin-right: 0;
}


/*---------------*/

.row.imagenes-cabecera {
    padding-top: 15px;
}

.jumbotron {
    padding-top: 15px;
    background-color: whitesmoke;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.cabecera .navbar {
    padding-left: 20px;
    background-color: #5473a6;
    border-width: inherit;
    border-radius: 0;
}

.vdivide [class*='separ']:not(:last-child):after {
    background: #eee;
    width: 1px;
    content: "";

    position: absolute;
    height: 34px;
    bottom: 8px;
    right: 0;
}

.vdivide.iconos-navegacion-banner [class*='separ']:not(:last-child):after {
    height: 100%;
    bottom: 0px;
}

.affix {
    top: 19px;
    width: 100%;
    z-index: 99;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.cabecera .search {
    width: 150px;
}

.ruta-navegacion .breadcrumb {
    margin-bottom: 2px;
    background-color: transparent;
    border-bottom: 1px solid #eee;
}

.cabecera form {
    margin-left: ;
    border-width: 0px;
}

.cabecera .jumbotron {
    padding-bottom: 0px;
}


/* carousel Cuerpo */

#carousel-principal {
    background-size: 100%;
}

.Cuerpo-central {
    margin-top: 20px;
}

.carousel-inner > .item > img {
    margin: auto;
    width: 100%;
}


/* Categorias */

section.Categorias {
    margin-top: 30px;
}

section.Categorias > div {
    margin-top: 30px;
    border: 1px solid #5473a6;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 3px #5473a6;
    padding-right: 100px;
}

section.Categorias > div > .nav {
    padding-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 0px;
}

section.Categorias > div > .nav .tree > li a {
    padding-top: 2px;
    padding-bottom: 2px;
}


/* Información Productos imagenes */

.thumbnail {
    padding: 0px;
    width: 100%;
}

.infomacion-articulo-general {
    margin-top: 20px;
}

.info-articulo-texto > div >.titulo-producto {
    border: 0;
    font-family: serif;
    font-size: 1.6em;
}

.info-articulo-texto > div >.descripcion p {
    font-size: 0.8em;
    color: #777;
}

.info-articulo-texto > div,
.info-articulo-texto > div >.descripcion {
    padding-bottom: 0px;
}

.info-articulo-texto > div >.descripcion li {
    border: 0px;
}

.carousel-inner {}

.info-articulo .imagenes-minuatura .span3 > a img {
    width: 100%;
}

.info-articulo .imagenes-minuatura .carousel-control {
    width: 6%;
}

.info-articulo .imagenes-minuatura .carousel-control span {
    width: 6%;
}

.info-articulo .imagenes-minuatura .span3 {
    width: 23%;
    margin-left: 2px;
    display: inline-table;
}

.info-articulo-texto> div >.descripcion li:not(:last-child) {
    border-bottom: 2px solid #eee;
}

.info-articulo-texto > div >.descripcion li:last-child {
    padding-bottom: 1px;
}

.info-articulo-texto > div >.descripcion form div {
    padding-bottom: 10px;
}

.pop-imagenes {
    position: relative;
    visibility: hidden;
    width: 100%;
}

.caption > h3 {
    margin-top: 0px;
    color: #888;
}

.pop-imagenes .btn:first-child {
    width: 40%;
    border-radius: 0;
    margin: 0;
    color: white;
    background-color: black;
}

.pop-imagenes .btn:nth-child(2) {
    width: 60%;
    border-radius: 0;
    margin: 0;
}

.cortar {
    width: 100%;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cortar:hover {
    white-space: initial;
    overflow: visible;
    cursor: pointer;
}

.thumbnail:hover > .pop-imagenes {
    visibility: inherit;
}

.pop-imagenes .btn:first-child:hover {
    background-color: dimgrey;
}

.caption > .precio,
.card-content .precio{
    font-size: 1em;
    color: white;
    background-color: #5473a6;
    padding: 4px;
}

.caption > .progress ,
.card-action > .progress{
    float: right;
    width: 60%;
    cursor: pointer;
}

@media (min-width: 100px) and (max-width: 986px) {
    .cabecera .logotipo {
        display: none;
    }
    .jumbotron {
        padding-bottom: 20px;
    }
    .logotipo-texto {
        margin-top: 15px;
    }
    .login-buscador form,
    li {
        display: inline-flex;

    }
    .vdivide [class*='separ']:not(:last-child):after{
        display: none;
    }
    .login-buscador form input {
        margin-right: 10px;
    }
    .login-buscador form button {
        height: 35px;
    }


    .Productos-Categoria .container,
    .Productos-Categoria .panel-body{
        padding: 0px;

    }
    .thumbnail .caption,
    .card .card-action{
        padding: 10px;
    }
    .thumbnail button,
    .thumbnail a,
    .card button,
    .card a{
        font-size: 0.8em;
    }
}


/*-------  Carrito -----------*/

.CarritoJPG {
    width: 10%;
}


/*-------  Footer -----------*/


footer {
  position: relative;

  height: 150px;
  padding-top:20px;
}

footer > .jumbotron {
    background-color: #343434;
}

footer > .jumbotron .encabezado {
    border-bottom: 1px solid #666;
}

footer > .jumbotron .encabezado > div:first-child {
    border-right: 1px solid #666;
}

footer > .jumbotron .encabezado > div:first-child a {
    padding-left: 4px;
}

.informacion {
    border-bottom: 1px solid #666;
    margin-bottom: 50px;
}

footer > .jumbotron ul li {
    background-color: transparent;
    border: 0px;
    color: dimgrey;
    padding-left: 0px;
}

footer > .jumbotron ul li > a {
    color: #999;
}

footer > .jumbotron ul li > a:hover {
    color: dimgrey;
    text-decoration: none;
    text-shadow: 0px 1px 1px black;
}
